@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

.datePicker {
  width: 100%;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
.react-datepicker__triangle {
  display: none;
}